.info-background {
    background-color: #fceae8 !important;
}

.mar {
    width: 100px!important;
}

.panda-btn-buy {
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none !important;
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff4b92 100%);
}